<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="" id="" style="background-color: darkred;">Block 요소</div>
    <div class="greeting" id="greeting1">ㅎㅇ</div>
    <div class="greeting" id="greeting2">ㅂㄱㅇ</div>
    <span style="background-color: cadetblue;">Inline 요소</span>
    <div>ㅎㅇ. 내이름은<span style="font-weight: 900;"> 안알려줄거임</span>  ㅂㄱㅇ</div>

</body>
</html>