<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span>Text Input</span>
    s<input type="text" name="" id=""><br>
    
    <span>Password Input</span>
    <input type="password" name="" id=""><br>
    
    <span>CheckBox Input</span>
    <input type="checkbox" name="" id=""><br>
    
    <span>Radio Input</span>
    <input type="radio" name="" id="">
    <input type="radio" name="" id=""><br>

    <span>Date Input</span>
    <input type="date"><br>

    <span>Datetime Input</span>
    <input type="datetime-local"><br>

    <span>Button</span>
    <input type="button"><br>

</body>
</html>